# Directories to Ignore
logs/
Backup/
Samples/
Recorded/
Ableton Project Info/
AbletonTmp-0000
.stversions/
.stignore

# Files to Ignore
Icon
.DS_Store
*.textClipping
*.cfg
*.webloc
*.lnk
*.ini
*.json
*.pkf
*.osp
*.zip
*.aup3*
*.aupreset
*.amxd
*.diz
*.fxb
*.pdf
*.mxprj
*.xmp
*.ico
*.jpeg
*.jpg
*.png
*.mkv
*.mov
*.wav
*.als
*.asd
*.mp3
*.m4a
*.mp4
*.flac
*.aif